body {
  /* Old browsers */
  background: #efeff2;

  margin: 20px;
  padding: 20px;
  font-family: Helvetica;	
}

/*-----MENU-----*/


/* my old menu
.menu{
  background-color: darkseagreen;
  padding: 10px;
}

 
.menu a{
  padding-left:5em;
font-size: 20px;
}
*/

.logo{
  background-image: url("images/logo1.jpg");
  background-size: cover;
  background-position: top;
  height: 310px;
}

.menu {
  background-color: black;
/*  background-color: lightslategray;*/
/*  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");*/
  background-size: cover;
  background-position: center;

  border: 1px solid LightGrey;
  padding: 10px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.menu a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
}

.menu a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

/*-----CONTENT-----*/
  
h1 {
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
  }

.mail {
font-size: 30px;
}


/*-----BOTTOM-----*/
.image {
  background-image: url("images/logo1.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  color: AliceBlue;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;

  background-color: white;
  color: black;
  opacity: 0.75;
}


