body {
  /* Old browsers */
  background: #efeff2;

  margin: 20px;
  padding: 20px;
  font-family: Helvetica;	
}


  
h1 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  }

#menu{
  background-color: khaki;
  padding: 10px;
}

/*
#menu{
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
}
*/
  
#menu a{
  padding-left:5em;
font-size: 20px;
}


.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  color: AliceBlue;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;

  background-color: white;
  color: black;
  opacity: 0.75;
}
